<h2>Restaurant details</h2>

<p><%= link_to '<< Back', root_path %></p>

<ul>
  <li>Name: <%= @restaurant.name %></li>
  <li>Address: <%= @restaurant.address %></li>
  <li>Rating: <%= @restaurant.rating %></li>
</ul>
